/* tag selector */

h1 {
	color: firebrick;
}

body {
	color: crimson;
	font-size: 1.2em;
	padding: 1em;
}

#bg-blue {
	background-color: gray;
}

/* class selector */

.bg-gray {
	background-color: gray;
}





/* id selector */

#page-title {
	color: firebrick;
}